<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            color: red;
        }
    </style>
</head>
<body style="background-color: black;">
    <center>
        <h1>Hey Sachin You are the God of Cricket..</h1>
        <h1>It's Impossible to Score 100 Centuries......In All Formats</h1>
        <a href="{% url 'something:sachin' %}"><h2>Response Of Sachin</h1></a>
    </center>
</body>
</html>