<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            color: red;
        }
    </style>
</head>
<body style="background-color: black;">
    <center>
        <h1>Thanks....</h1>
        <h1>You Are Also Mr.Defendable In Cricket History...</h1>
        <h1>You Are Also having Untouchable Records...Dravid</h1>
        <a href="{% url 'anything:dravid' %}"><h2>Dravid Response</h1></a>
    </center>
</body>
</html>